body {
	background-color: #EDEBE9;
	margin: 0px;
	font-family: "宋体";
	min-width: 1200px;
	min-height: 700px;
}

i {
    cursor: pointer;
}

.ScanArea {

}

.ScanTitle {
	width: 400px;
    margin: auto;
    font-size: 18px;
    font-family: "微软雅黑";
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
}

.QRArea {
	width: 400px;
    margin: 0px auto;
    box-shadow: 0px 0px 4px 4px #5d5959;
}

.qrcode {
	width: 400px;
}

.content {
    background-color: #EDEBE9;
    margin: auto;
}

.menu {
    width: 60px;
    background-color: #27292E;
    color: white;
    float:left;
    display: none;
}

.menu-a-active {
	color: #09BB07;
}

.message-pic {
	width: 40px;
	margin: 5px 10px;
}

.pic {
	margin: 40px 10px 30px 10px;
}

.self-pic {
	width: 40px;
}

.single-pic {
	width: 45px;
}

.menulist {
	list-style-type: none;
    padding: 0px;
    margin: 15px;
    font-size: 30px;
    text-align: center;
}

.list-item {
	padding-top: 10px;
    padding-bottom: 30px;
}

.menu-a {
	color: white;
}

.menu-a:active {
	color: #09BB07;
}

.modal {
	display: none;
	overflow: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(128,128,128,0.7);
}

.menu-content {
	float: left;
    display: none;
}

.dialog-content {
	
}

.sub-menu {
	width: 100%;
    height: 100%;
}

.contact-content {
	display: none;
}

.multisend-content {
	display: none;
}

.config-content {
	display: none;
}

.single-row {
	float: left;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-y: auto;
}

.sub-mainrow {
    width: 25%;
    background-color: #F5F5F5;
}

.sub-contentrow {
    width: 75%;
    padding: 20px;
    background-color: #FCFCFC;
    border-left: 1px solid #C1C1C1;
}

.title-content {
	height: 53px;
	width: 100%;
	top: 0px;
    line-height: 2.72;
	box-sizing: border-box;
	padding: 0px;
    border-bottom: 1px solid #c1c1c1;
}

.system-message {

}

.messages-title {
	height: 53px;
    width: 100%;
    top: 0px;
    line-height: 2.62;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
}

.messages-content {
	position: absolute;
	width: 100%;
	top: 53px;
	bottom: 250px;
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
	box-sizing: border-box;
}

.send-area {
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
	box-sizing: border-box;
	height: 250px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.function-area {
	border-bottom: 1px solid #c1c1c1;
	box-sizing: border-box;
	height: 40px;
    width: 100%;
    top: 0px;
}

.single-fun {
	float: left;
    margin-left: 15px;
    padding: 4px 0px;
}

.text-area {
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 40px;
	background-color: white;
}

.form-textarea {
	resize : none;
	border: 0px;
	font-size: 18px;
	padding: 0px;
	width: 100%;
	height: 100%;
    background-color: #F5F5F5;
    outline: none;
}

.form-textarea:focus {
	background-color: white;
}

.button-area {
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: right;
}

.scroll {
	overflow-y: auto;
}

.ellipsis {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-menu {
	width: 20%;
	background-color: #EDEAE8;
}

.dialog-menu {
	width: 50%;
	background-color: #F5F5F5;
}

.function-menu {
	width: 30%;
	background-color: #f9f9f9;
}

.message-box-left {
	float: left;
	width: 80%;
}

.message-box-right {
	float: right;
	width: 80%;
}

.NickName-left {
    margin: 0px 17px 5px 17px;
}

.NickName-right {
	text-align: right;
    margin: 0px 17px 5px 17px;
}

.conversation-area {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

.current-area {
	display: block;
}

.message {
	min-height: 36px;
	padding: 5px 15px 10px 15px;
	overflow: auto;
}

.pic-left {
	width: 36px;
	float: left;
}

.pic-right {
	width: 36px;
	float: right;
}

.text-left {
	float: left;
	padding: 9px 10px 9px 10px;
    background-color: white;
    max-width: 90%;
    border-radius: 3px;
    word-wrap: break-word;
}

.text-right {
	float: right;
	padding: 9px 10px 9px 10px;
    background-color: white;
    max-width: 90%;
    border-radius: 3px;
}

.angle-left {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-right: 8px solid white;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    float: left;
    margin-top: 9px;
}

.angle-right {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    float: right;
    margin-top: 9px;
}

.text-groups {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.groups {
	list-style-type: none;
	background-color: #E6E5E5;
    padding: 0px;
    margin: 0px;
}

.single-list {
    position: relative;
    height: 53px;
    border-bottom: 1px solid #c1c1c1;
    box-sizing: border-box;
}

.keyword-name {
    margin: 0px;
    font-size: 16px;
    padding: 10px 15px 0px 15px;
}

.keyword-reply {
    margin: 0px;
    font-size: 12px;
    padding: 2px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.single-message {
	position: relative;
	height: 53px;
}

.single-message:hover {
	background-color: #D9D8D8;
}

.active {
	background-color: #CAC8C6;
}

.message-pic {
	float: left;
    width: 43px;
    height: 43px;
    margin: 1px;
}

.group-name {
	padding: 17px 2px 17px 65px;
    position: absolute;
    max-width: 73%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.unreadtotal {
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    margin-left: -7px;
    width: 18px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
    border-radius: 18px;
    background-color: red;
    position: absolute;
}

.unreadnum {
    float: right;
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    margin-right: 5px;
    width: 18px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
    border-radius: 18px;
    background-color: red;
}

.group-pic {
	width: 45px;
    height: 45px;
    background-color: white;
    position: absolute;
    margin: 3px 3px 3px 8px;
    padding: 1px;
}

.abs-right {
    top: 15px;
    right: 20px;
    position: absolute;
}

.btn {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #129611;
    background-color: #129611;
    color: white;
    outline: none;
    cursor: pointer;
}

.form-btn {
    padding: 4px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    color: #444444;
    outline: none;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #129611;
    color: white;
}

.hide {
	display: none;
}

.emoji-pic {
	max-width: 150px;
}

.message-video {
	width: 150px;
}

.picture-func {
	text-align: right;
	display: none;
}

.picture-func > i {
	padding-right: 15px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.adjust-pic {
	width: 800px;
}

.showfunc {
    text-align: center;
    font-size: 40px;
}

.showarea {
    text-align: center;
    margin: 10px;
}

.multisend-contacts {
	width: 100%;
    top: 0px;
    bottom: 350px;
    position: absolute;
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    box-sizing: border-box;
}

.multisend-area {
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    height: 350px;
    width: 100%;
}

.tab-a:hover, .tab-a:visited, .tab-a:link, .tab-a:active {
	color: black;
}

.tab-3 {
    width: 33.33%;
    float: left;
    height: 51px;
    font-size: 18px;
    text-align: center;
    padding-top: 2px;
}

.tab-3:hover {
	color: white;
	background-color: #09BB07;
}

.tab-active {
	color: white;
	background-color: #09BB07;
}

.line-right {
	border-right: 1px solid #C1C1C1;
	box-sizing: border-box;
}

.configs {
	width: 80%;
	border-left: 1px solid #C1C1C1;
	box-sizing: border-box;
}

.config-name {
	padding: 0px;
    margin: 17px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choosebox {
    margin-top: 17px;
    margin-right: 10px;
    position: relative;
}

.multisend-contacts {
	padding: 20px;
}

.multisend-area {
	padding: 20px;
}

.selected-group {
	float: left;
    background-color: #2BA245;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    font-size: 18px;
    border-radius: 3px;
}

.title {
	width: 100%;
    top: 0px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 0px;
}

.multi-textarea {
    width: 100%;
    height: 180px;
    background-color: white;
}

.multimessage-area {
    border: 1px solid #c1c1c1;
}

.multifunction-area {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    top: 0px;
}

.multi-send-button {
	text-align: right;
}

.templatemessage-content {
    
}

.sendinfo {
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1;
}

.sendmessage {
    margin: 0px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1;
}

.keywords {
    max-height: 80%;
    min-height: 100px;
}

.addkeywords {
    padding-left: 5px;
}

.form-text {
    height: 25px;
    width: 200px;
    outline: none;
    padding: 1px;
}

.warning-message {
    position: relative;
    min-height: 53px;
    border-bottom: 1px solid #c1c1c1;
    word-break: break-all;
}

.warning-name {
    margin: 0px;
    padding: 5px 14px;
}

.warning-content {
    margin: 0px;
    padding: 0px 15px 3px 15px;
    font-size: 14px;
}

.close{
    position: absolute;
    top: 2px;
    right: 4px;
    color: black;
}

.highlight {
    color: red;
}

.kickdiv {
    background-color: beige;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
}

.system-message {
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: 20px;
}

.system-info {
    padding: 4px;
    background-color: #c9c9c9;
    border-radius: 3px;
}

.template-area {
    position: absolute;
    left: 0;
    bottom: 250px;
    display: none;
    width: 419px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
}

.multitemplate-area {
    position: absolute;
    left: 21px;
    bottom: 286px;
    display: none;
    width: 419px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
}

.template-panel {

}

.template-lists {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
}

.single-template {
    position: relative;
    border-top: 1px solid #EDEAE8;
    padding: 10px 20px;
}

.template-close {
    position: absolute;
    top: -8px;
    right: 0px;
    color: black;
}

.template-title {
    margin: 12px;
    font-weight: 600;
}

.template-head {
    position: relative;
}

.scroll-content {
    overflow-y: auto;
}

.addtemplates {
    height: 100px;
    text-align: center;
    line-height: 2;
}

.white-background {
    background-color: white;
    border: 1px solid #C1C1C1;
}

.single-allsee-list {
    position: relative;
    min-height: 36px;
    width: 100%;
    padding: 10px 14px;
    border-bottom: 1px solid #c1c1c1;
    box-sizing: border-box;
}

.closetemplate {
    position: absolute;
    right: 6px;
    top: 6px;
}

.sortedth {
    cursor: pointer;
}

.paging-area {
    margin-top: 20px;
    text-align: left;
}

.page-span {
    cursor: pointer;
    padding: 5px 10px;
    color: #252121;
}

.page-span:hover {
    color: #09BB07;
}

.current {
    background-color: #09BB07;
    color: white;
    border-color: #09BB07;
}

.current:hover {
    color: white;
}

#statistics-table {
    width: 100%;
}

.form-num {
    height: 21px;
    width: 30px;
    outline: none;
    padding: 1px;
    text-align: center;
}

.loadarea {
    text-align: center;
    font-size: 70px;
    display: table-cell;
    vertical-align: middle;
}



























.table thead th {
    background-color: rgb(9, 187, 7);
    color: #fff;
    border-bottom-width: 0;
}

.table td {
    color: #000;
    text-align: center;
    max-width: 230px;
}

.table tr, .table th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(9, 187, 7);
}

.table td, .table th {
    padding: 5px 15px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
}

/*滚动样式*/
::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	border-radius: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	background-color: #CDCDCD;
}
