<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/wechat.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pikaday.css">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <title>logging</title>
</head>
<body>
    <div >
        <div>
            <span>消息记录</span>
        </div>
        <div>
            <input id="begintime" name="begintime" type="text" readonly="readonly"/>
            <input id="endtime" name="endtime" type="text" readonly="readonly"/>
            <input type="hidden" id="gname" value="{{gname}}">
            <button id="query" class="btn" type="button">查询</button>
        </div>
        <ul id="logging">
        </ul>
    </div>
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <script src="../static/js/date_fns.min.js"></script>
    <script src="../static/js/pikaday.js"></script>
    <script>
        var startDate,
            endDate,
            updateStartDate = function() {
                startPicker.setStartRange(startDate);
                endPicker.setStartRange(startDate);
                endPicker.setMinDate(startDate);
            },
            updateEndDate = function() {
                startPicker.setEndRange(endDate);
                startPicker.setMaxDate(endDate);
                endPicker.setEndRange(endDate);
            },
            startPicker = new Pikaday({
                field: document.getElementById('begintime'),
                toString: function(date, format) {
                    return dateFns.format(date, format);
                },
                parse: function(dateString, format) {
                    return dateFns.parse(dateString);
                },
                onSelect: function() {
                    startDate = this.getDate();
                    updateStartDate();
                }
            }),
            endPicker = new Pikaday({
                field: document.getElementById('endtime'),
                toString: function(date, format) {
                    return dateFns.format(date, format);
                },
                parse: function(dateString, format) {
                    return dateFns.parse(dateString);
                },
                onSelect: function() {
                    endDate = this.getDate();
                    updateEndDate();
                }
            }),
            _startDate = startPicker.getDate(),
            _endDate = endPicker.getDate();

            if (_startDate) {
                startDate = _startDate;
                updateStartDate();
            }

            if (_endDate) {
                endDate = _endDate;
                updateEndDate();
            }
        </script>
        <script>
            $("#query").bind("click", function () {
                var begin=$("#begintime").val();
                var end=$("#endtime").val();
                if ((begin != "") && (end != "")) {
                    var gname = $("#gname").val();
                    $.ajax({
                        type: "post",
                        url: "/msglogging",
                        data:{
                            begin:begin,
                            end:end,
                            group:gname
                        },
                        dataType: "json",
                        success: function (data) {
                        $('#logging').html("");
                            for(var i=0;i<data.length;i++){
                                var type = data[i].type;
                                switch(type){
                                    case "Text":
                                        var message = data[i].content.replace("\n", "<br>");
                                        break;
                                    case "Video":
                                        var message = '<video class="message-video" src="../'+ data[i].content +'" controls="controls">your browser does not support the video tag</video>';
                                        break;
                                    case "Picture":
                                        var message = '<img src="../'+ data[i].content +'" class="emoji-pic" onclick="ShowOptions(this)">';
                                        break;
                                    case "Recording":
                                        var message = '<audio src="../'+ data[i].content +'" controls="controls">your browser does not support the audio tag</audio>';
                                        break;
                                    case "Sharing":
                                        var u = data[i].url == "" ? "javascript:;" : data[i].url;
                                        var info = data[i].content == "" ? "不支持预览，请在手机上查看。" : data[i].content;
                                        var message = '<a class="tab-a" href="'+ u +'" target="_blank">链接：'+ info +'</a>';
                                        break;
                                    case "Card":
                                        var message = '名片：' + data[i].content;
                                        break;
                                    case "Note":
                                        var message = data[i].content;
                                        break;
                                    case "Attachment":
                                        var filepath = data[i].content.split("\\");
                                        var length = filepath.length;
                                        var message = '<span>'+ filepath[length - 1] +'</span><a href="../'+ data[i].content +'" download><i class="fa fa-download fa-fw"></i></a>';
                                        break;
                                    default:
                                        var message = "不支持预览，请在手机上查看。";
                                }
                                var pSendInfo = '<p class="sendinfo">' + data[i].Time+ ' ， ' + data[i].NickName + '<p>';
                                var pMessage = '<p class="sendmessage">'+ message +'</p>';
                                var li = pSendInfo + pMessage;
                                $('#logging').append(li);
                            }
                         }
                    });
                }
            });
    </script>
</body>

</html>