<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>文件上传示例</h1>
     <form action="/picture" enctype='multipart/form-data' method='POST'>
         <input type="file" name="file">
         <input type="submit" value="上传">
     </form>
   <script src="static/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                type: "post",
                url: "/getQR",
                success:function (data) {
                    alert(data)
                }
            })
        })
    </script>
</body>
</html>