<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/wechat.css">
    <link rel="stylesheet" type="text/css" href="static/css/emoji.css">
    <link rel="stylesheet" href="static/plugins/FontAwesome/css/font-awesome.min.css">
    <title>Wechat</title>
</head>
<body>
    <div class="content">
        <div class="menu">
            <div class="pic">
                <a id="login" href="javascript:;"><img id="mypic" class="self-pic" src="static/img/pic.jpg"></a>
            </div>
            <ul class="menulist">
                <li class="menu-list list-item" title="会话">
                    <a id="at" class="menu-a-active" href="javascript:;" data-content="dialog-content"><i class="fa fa-comment"></i></a>
                </li>
                <li class="menu-list list-item" title="群发">
                    <a class="menu-a" href="javascript:;" data-content="multisend-content"><i class="fa fa-send-o"></i></a>
                </li>
                <li class="menu-list list-item" title="配置">
                    <a class="menu-a" href="javascript:;" data-content="config-content"><i class="fa fa-cog"></i></a>
                </li>
                <li class="menu-list list-item" title="统计">
                    <a class="menu-a" href="javascript:;" data-content="statistics-content"><i class="fa fa-bar-chart"></i></a>
                </li>
            </ul>
        </div>
        <div class="menu-content">
            <div class="sub-menu dialog-content">
                <div class="single-row contact-menu">
                    <ul id="groups-ul" class="groups">
                    </ul>
                </div>
                <div id="contact" class="single-row dialog-menu">
                    <div class="messages-title ellipsis">
                        <span id="dialog-name"></span>
                    </div>
                    <div id="dialogs" class="messages-content scroll">

                    </div>
                    <div class="send-area">
                        <div class="function-area">
                            <div class="single-fun">
                                <i id="emoij" class="fa fa-smile-o fa-2x"></i>
                            </div>
                            <div class="single-fun">
                                <i id="choose-file" class="fa fa-folder-o fa-2x"></i>
                                <input class="hide" id="send-file" type="file">
                            </div>
                            <div class="single-fun">
                                <i id="word-template" class="fa fa-list-alt fa-2x"></i>
                            </div>
                            <div class="single-fun">
                                <i id="importemoij" class="fa fa-sign-in fa-2x"></i>
                                <input id="importemoijfile" style="display:none" multiple="multiple" type="file" size="200" accept="image/*" onchange="handleFiles(event)" />
                            </div>
                            <button id="messages-history" type="button" class="form-btn pull-right">历史消息</button>
                        </div>
                        <div class="text-area">
                            <textarea id="message-text" class="form-textarea"></textarea>
                        </div>
                        <div class="button-area">
                            <button id="send" type="button" class="form-btn">发送</button>
                        </div>
                    </div>
                    <div id="emoijdiv" class="emoijbox">
                        <div id="emoijtool" class="emoijtool">
                            <ul id="titleul" class="emoji-title-names">

                            </ul>
                            <a class="close" href="javascript:;" title="关闭"><i id="close" class="fa fa-close close"></i></a>
                        </div>
                        <div id="emoijpanel" class="emoijpanel">
                            <ul id="emoijul">
                            </ul>
                        </div>
                    </div>
                    <div class="template-area close-area">
                        <div class="template-panel">
                            <div class="template-head">
                                <p class="template-title">选择消息模板</p>
                                <a class="template-close" href="javascript:;" title="关闭"><i class="fa fa-close close" onclick="closethis(this)"></i></a>
                            </div>
                            <ul class="template-lists">
                                
                            </ul>
                        </div>
                    </div>
                    <div id="emoijimport" class="emoijimportbox">
                        <div id="emoijimporttool" class="emoijimporttool">
                            <span>导入表情预览</span>
                            <a class="close" href="javascript:;" title="关闭">
                                <i id="emoijimportclose" class="fa fa-close close"></i>
                            </a>
                        </div>
                        <form id="moment-pane-upload-form" enctype="multipart/form-data">
                        </form>
                        <div id="emoijimportpanel" class="emoijimportemoijpanel">
                            <ul id="emoijimportul">
                            </ul>
                        </div>
                        <div id="emoijimportsend" class="emoijimportsend">
                            <button id="sendinport" type="button" class="form-btn sub_btn">确认提交</button>
                        </div>
                    </div>
                </div>
                <div id="func" class="single-row function-menu">
                    <div class="title-content dialog-func-tab">
                        <a class="tab-a" href="javascript:;" data-content="warningmessage-content"><span class="tab-3 tab-active">广告信息列表</span></a>
                        <a class="tab-a" href="javascript:;" data-content="aite-content"><span class="tab-3">@消息列表</span></a>
                        <a class="tab-a" href="javascript:;" data-content="detail-content"><span class="tab-3">详细信息</span></a>
                    </div>
                    <div class="scroll-content">
                        <ul class="groups warningmessage-content">
                            
                        </ul>
                        <ul class="groups aite-content hide">
                            
                        </ul>
                        <ul class="groups detail-content hide">
                            
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="sub-menu contact-content">
                
            </div>
            <div class="sub-menu multisend-content">
                <div class="single-row contact-menu">
                    <div class="title-content contact-tab">
                        <a class="tab-a" href="javascript:;" data-content="manager-content"><span class="tab-3 tab-active">管理群组</span></a>
                        <a class="tab-a" href="javascript:;" data-content="allgroups-content"><span class="tab-3">群组</span></a>
                        <a class="tab-a" href="javascript:;" data-content="allcontact-content"><span class="tab-3">联系人</span></a>
                    </div>
                    <ul class="groups manager-content">
                        
                    </ul>
                    <ul id="multigroups-ul" class="groups allgroups-content hide">
                        
                    </ul>
                    <ul class="groups allcontact-content hide">
                        
                    </ul>
                </div>
                <div class="single-row dialog-menu">
                    <div class="multisend-contacts scroll">
                        <p class="title">选择列表</p>
                        <button id="setdefaultgroups" class="btn abs-right" type="button">设置管理群</button>
                    </div>
                    <div class="multisend-area scroll">
                        <p class="title">群发</p>
                        <div class="multimessage-area">
                            <div class="multifunction-area">
                                <div id="emoijgroup" class="single-fun"><i class="fa fa-smile-o fa-2x"></i></div>
                                <div class="single-fun">
                                    <i id="multichoose-file" class="fa fa-folder-o fa-2x"></i>
                                    <input class="hide" id="multisend-file" type="file">
                                </div>
                                <div class="single-fun">
                                    <i id="multiword-template" class="fa fa-list-alt fa-2x"></i>
                                </div>
                            </div>
                            <div class="multi-textarea">
                                <textarea id="multimessage-text" value="" class="form-textarea"></textarea>
                            </div>
                            <div class="multi-send-button">
                                <button id="multisend" type="button" class="form-btn">发送</button>
                            </div>
                        </div>
                    </div>
                    <div id="emoijdivgroup" class="emoijbox" style="bottom:286px;left:21px;">
                        <div id="emoijtoolgroup" class="emoijtool">
                            <ul id="titleulgroup" class="emoji-title-names">

                            </ul>
                            <a class="close" href="javascript:;" title="关闭"><i id="closegroup" class="fa fa-window-close close"></i></a>
                        </div>
                        <div id="emoijpanelgroup" class="emoijpanel">
                            <ul id="emoijulgroup">
                            </ul>
                        </div>
                    </div>
                    <div class="multitemplate-area close-area">
                        <div class="template-panel">
                            <div class="template-head">
                                <p class="template-title">选择消息模板</p>
                                <a class="template-close" href="javascript:;" title="关闭"><i class="fa fa-close close" onclick="closethis(this)"></i></a>
                            </div>
                            <ul class="template-lists">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="" class="single-row function-menu">
                    <div class="title-content">
                        <span>群发历史</span>
                    </div>
                </div>
            </div>
            <div class="sub-menu config-content">
                <div class="single-row contact-menu">
                    <ul id="config-lists" class="groups">
                        <li class="single-message active">
                            <span class="config-name" title="广告消息" data-content="specialmessage-content">广告消息</span>
                        </li>
                        <li class="single-message">
                            <span class="config-name" title="关键词回复" data-content="keywordreply-content">关键词回复</span>
                        </li>
                        <li class="single-message">
                            <span class="config-name" title="消息模板" data-content="messagetemplate-content">消息模板</span>
                        </li>
                    </ul>
                </div>
                <div id="keywordreply-content" class="single-row configs hide">
                    <div class="single-row sub-mainrow">
                        <ul class="text-groups">
                            <li class="single-list">
                                <p class="keyword-name">一乙农业</p>
                                <p class="keyword-reply">一乙农业是江苏一乙生态农业科技有限公司的简称。公司坚持走绿色发展、和谐发展、融合发展之路，以为市民提供放心食品</p>
                            </li>
                            <li class="single-list">
                                <p class="keyword-name">关键词2</p>
                                <p class="keyword-reply">关键词2回复</p>
                            </li>
                            <li class="single-list">
                                <p class="keyword-name">关键词3</p>
                                <p class="keyword-reply">关键词3回复</p>
                            </li>
                        </ul>
                    </div>
                    <div class="single-row sub-contentrow">
                        
                    </div>
                </div>
                <div id="specialmessage-content" class="single-row configs">
                    <div class="single-row sub-mainrow">
                        <ul class="text-groups">
                            <li class="single-list">
                                <p class="keyword-name">文本</p>
                                <p class="keyword-reply"></p>
                            </li>
                            <li class="single-list">
                                <p class="keyword-name">分享</p>
                                <p class="keyword-reply"></p>
                            </li>
                            <li class="single-list">
                                <p class="keyword-name">链接</p>
                                <p class="keyword-reply"></p>
                            </li>
                            <li class="single-list">
                                <p class="keyword-name">电话</p>
                                <p class="keyword-reply"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="single-row sub-contentrow">
                        <p class="title">文本（关键词检测）</p>
                        <button id="deletekewords" class="btn abs-right" type="button">删除</button>
                        <div class="keywords">
                            
                        </div>
                        <div class="addkeywords">
                            <input id="newkeyword" type="text" class="form-text">
                            <button id="savekeyword" class="btn" type="button">增加</button>
                        </div>
                    </div>
                </div>
                <div id="messagetemplate-content" class="single-row configs hide">
                    <div class="single-row sub-mainrow">
                        <ul id="template-manage-list" class="text-groups">

                        </ul>
                    </div>
                    <div class="single-row sub-contentrow">
                        <p class="title">消息模板</p>
                        
                        <div class="addtemplates">
                            <textarea id="newtemplate" type="text" class="form-textarea white-background"></textarea>
                            <button id="savetemplate" class="btn" type="button">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-menu statistics-content hide">
                <div class="single-row contact-menu">
                    <ul id="statistics-lists" class="groups">
                        <li class="single-message active">
                            <span class="config-name" title="活跃度统计" data-content="activity-content">活跃度统计</span>
                        </li>
                    </ul>
                </div>
                <div id="activity-content" class="single-row configs">
                    <div class="single-row sub-mainrow">
                        <ul id="static-groups" class="text-groups">

                        </ul>
                    </div>
                    <div class="single-row sub-contentrow">
                        <p class="title">活跃度统计</p>
                        <table id="statistics-table" class="table">
                            
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-pic" class="modal">
        <div class="showfunc">
            <a href="javascript:;" class="menu-a"><i id="larger" class="fa fa-search-plus"></i></a>
            <a href="javascript:;" class="menu-a"><i id="smaller" class="fa fa-search-minus"></i></a>
        </div>
        <div class="showarea">
            <img class="adjust-pic" src="static/img/loginqrcode.jpg">
        </div>
    </div>
    <div id="modal-loading" class="modal">
        <div class="loadarea">
            <i class="fa fa-spinner fa-spin fa-fw margin-bottom"></i>
        </div>
    </div>
    
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script src="static/js/emoji.js"></script>
    <script src="static/js/face.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>